body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #2a2a2a;
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 0 solid transparent;
    border-radius: 10px;
    background-color: #0e0e0e;
}



.buttonContainer {
    align-items: center;
}

#leaderboard {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid crimson;
    background-color: #222222;
    padding: 10px;
    color: crimson;
    border-radius: 10px;
}

#leaderboard:hover {
    color: maroon;
    cursor: pointer;
}

#quizContainer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    width: 60%;
    height: 20vw;
    border: 0 solid crimson;
    border-radius: 30px;
    color: crimson;
    background-color: #0e0e0e;
    align-items: center;

}

#quizContent {
    display: flex;
    flex-direction: column;
}

#startButton {
    text-align: center;
    color: crimson;
    background-color: #222222;
    cursor: pointer;
    font-weight: bold;
    height: fit-content;
    border: 0 solid transparent;
    border-radius: 10px;
}

#startButton:hover {
    background-color: #2a2a2a;
}

.quizQueAns {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 30vw;
    height: 20px;
}

.quizQuestion {
    font-weight: bold;
    font-style: italic;
}

#question {
    border: 2px solid crimson;
    width: 30vw;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    display: none;
}


#answers {
    display: flex;
    flex-direction:row;
    padding: 2px;
}


.answerButtons {
    margin: 5px;
    padding: 2px;
    color: crimson;
    background-color: #2a2a2a;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    height: 80px;
    width: 100px;
    border-radius: 10px;
}


.button {
    padding: 10px;
    color: crimson;
    background-color: #2a2a2a;
    cursor: pointer;

}

.button:hover {
    background-color: #222222;
}



#timer {
    padding: 10px;
    color: crimson;
    background-color: #222222;
    border: 0 solid transparent;
    border-radius: 10px;
}

#leaderboardContainer {
    justify-content: center;
    border: 2px solid crimson;
    border-radius: 20px;
    width: 40vw;
    padding: 10px;
    background-color: #2a2a2a;
    margin: 10px auto;
}

#input-userInitials {
    color: crimson;
}

#scoreResult {
    color: crimson;
}

#leaderboardButton {
    padding: 10px;
    color: crimson;
    border: 0 solid transparent;
    border-radius: 10px;
    background-color: #222222;
}

#leaderboardButton:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

#leaderboardSave {
    color: crimson;
    border: 1px solid crimson;
    background-color: #222222;
    margin-right: 10px;
    border-radius: 5px;
}

#userInitials {
    border: 1px solid crimson;
    background-color: #222222;
    border-radius: 5px;
    color: crimson;
}

#initialsLabel {
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 1px;
    background-color: #222222;
}


.hidden {
    display: none;
}