body {
    font-family: 'Times New Roman', Times, serif;
    background-color:#2a2a2a
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.timerContainer {
    border: 2px solid crimson;
    border-radius: 10px;
}
#timer {
    right: 100px;
}
.buttonContainer {
    align-items: center;
}

#leaderboard {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid crimson;
    background-color: #222222;
}

#leaderboard:hover {
    color: maroon;
    cursor: pointer;
}

#quizContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 60%;
    max-height: 40vw;
    border: 2px solid crimson;
    border-radius: 30px;
    color: crimson;
    background-color: #0e0e0e;
    align-items: center;

}

#startButtonContainer {
    display: flex;
    width: 60px;
    height: 40px;
}

#startButton {
    display: flex;
    align-items: center;
    text-align: center;
    color: crimson;
    background-color: #222222;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
#startButton:hover {
    background-color: #2a2a2a;
}

.quizQueAns {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 30vw;
    height: 20px;
}

.quizQuestion {
    font-weight: bold;
    font-style: italic;
}

#question {
    border: 2px solid crimson;
    width: 30vw;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;

}
#answers {
display: flex;
flex-direction: row;
justify-content: center;
padding: 2px;
}


.answerButtons {
    margin: 5px;
    padding: 2px;
    color: crimson;
    background-color: #2a2a2a;
    cursor: pointer;
    width: 300px;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}


.button {
    margin: 10px;
    padding: 10px;
    color: crimson;
    background-color: #2a2a2a;
    cursor: pointer;

}

.button:hover {
    background-color: #222222;
}

#leaderboard,
#timer {
    margin: 5px;
    color: crimson;
}

#leaderboardContainer {
    justify-content: center;
    left: 20%;
    border: 2px solid crimson;
    border-radius: 20px;
    width: 50%px;
    padding: 10px;
    background-color: #2a2a2a;
}

#userForm {}
#scoreResult {
    color: crimson;
}
#leaderboardButton {
    color: crimson;
    background-color: #222222;
}

#leaderboardButton:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

#leaderboardSave {
    color: crimson;
    border: 1px solid crimson;
    background-color:#222222;
    margin-right: 10px;
    border-radius: 5px;
}
#userInitials {
    border: 1px solid crimson;
    background-color:#222222;
    border-radius: 5px;
}
#initialsLabel {
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 1px;
    background-color: #222222;
}


.hidden {
    display: none;
}
